## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,55.80,52,50,17.22,scattered clouds
1,1,Mataura,NZ,-46.1927,168.8643,55.47,46,92,6.33,overcast clouds
2,2,Lagoa,PT,39.0500,-27.9833,63.00,76,82,11.70,broken clouds
3,3,Port Blair,IN,11.6667,92.7500,77.99,70,24,11.50,few clouds
4,4,Okhotsk,RU,59.3833,143.3000,-11.09,88,19,13.15,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Port Blair,IN,11.6667,92.7500,77.99,70,24,11.50,few clouds
8,8,Carnarvon,AU,-24.8667,113.6333,77.07,69,0,17.27,clear sky
12,12,San Cristobal,VE,7.7669,-72.2250,75.38,78,78,1.59,broken clouds
17,17,Kapaa,US,22.0752,-159.3190,79.12,69,40,4.00,scattered clouds
22,22,Dondo,MZ,-19.6094,34.7431,76.51,95,0,2.28,clear sky
23,23,Soyo,AO,-6.1349,12.3689,78.42,89,97,7.29,overcast clouds
32,32,Iracoubo,GF,5.4802,-53.2011,77.47,89,98,7.81,light rain
44,44,Morant Bay,JM,17.8815,-76.4093,82.02,84,49,10.65,scattered clouds
45,45,Isangel,VU,-19.5500,169.2667,84.31,74,75,5.75,broken clouds
46,46,Rikitea,PF,-23.1203,-134.9692,76.69,73,98,9.40,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                468
City                   468
Country                468
Lat                    468
Lng                    468
Max Temp               468
Humidity               468
Cloudiness             468
Wind Speed             468
Current Description    468
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Port Blair,IN,77.99,few clouds,11.6667,92.7500,
8,Carnarvon,AU,77.07,clear sky,-24.8667,113.6333,
12,San Cristobal,VE,75.38,broken clouds,7.7669,-72.2250,
17,Kapaa,US,79.12,scattered clouds,22.0752,-159.3190,
22,Dondo,MZ,76.51,clear sky,-19.6094,34.7431,
23,Soyo,AO,78.42,overcast clouds,-6.1349,12.3689,
32,Iracoubo,GF,77.47,light rain,5.4802,-53.2011,
44,Morant Bay,JM,82.02,scattered clouds,17.8815,-76.4093,
45,Isangel,VU,84.31,broken clouds,-19.5500,169.2667,
46,Rikitea,PF,76.69,overcast clouds,-23.1203,-134.9692,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace=True)
hotel_df.dropna(subset = ["Hotel Name"], inplace=True)

In [10]:
clean_hotel_df = hotel_df
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Port Blair,IN,77.99,few clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
8,Carnarvon,AU,77.07,clear sky,-24.8667,113.6333,Hospitality Carnarvon
12,San Cristobal,VE,75.38,broken clouds,7.7669,-72.2250,Posada Villaven C.A.
17,Kapaa,US,79.12,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
22,Dondo,MZ,76.51,clear sky,-19.6094,34.7431,Arco Iris
...,...,...,...,...,...,...,...
1922,Butterworth,MY,79.00,few clouds,5.3991,100.3638,Cititel Penang
1925,Mahina,PF,85.77,few clouds,-17.5065,-149.4890,Guest Beach Bungalow Tahiti
1932,Kapit,MY,75.79,overcast clouds,2.0167,112.9333,Hotel Meligai Kapit
1934,Sao Jose De Piranhas,BR,82.65,broken clouds,-7.1206,-38.5019,Hotel Pousada São José
1939,Angoche,MZ,75.54,scattered clouds,-16.2325,39.9086,Guest House HESADA

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 

locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))